<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.7.1.min.js" 
        type="text/javascript"></script>

        <script type="text/javascript">
        	$(document).ready(function () {
        		// Send an AJAX request
        		$.getJSON("api/sample/",
                function (data) {
                	// On success, 'data' contains a list of products.
                	$.each(data, function (key, val) {

                		// Format the text to display.
                		var str = val;
                		
                		// Add a list item for the product.
                		$('<li/>', { html: str })
                        .appendTo($('#items'));
                	});
                });
        	});

        	function add() {
        		var name =  $('#itemName').val();
        	
        		$.ajax({
        			url: "api/sample",
        			cache: false,
        			type: 'PUT',
        			data: {name: "=" + name},
        			statusCode: {
        				201 /*Created*/: function (data) {
        					$('<li/>', { html: name })
        						.appendTo($('#items'));
        					$("#itemName").val("");
        				}
        			}
        		});
        	}
        </script>

</head>
<body id="body" >
    <div class="main-content">
        <div>
            <h1>All items</h1>
            <ul id="items"/>
        </div>
        <form method="POST">
            <label for="itemName">Name:</label>
	        <input type="text" id="itemName" size="5"/>
            <input type="button" value="Add" onclick="add();" />
            <p id="item" />
        </form>
    </div>
</body>
</html>