@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff2') format('woff2'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
}
@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?fj9lf0');
  src: url('icomoon.eot?fj9lf0#iefix') format('embedded-opentype'), url('icomoon.ttf?fj9lf0') format('truetype'), url('icomoon.woff?fj9lf0') format('woff'), url('icomoon.svg?fj9lf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.dev-controls {
  z-index: 1;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 5%;
  padding: 20px;
  transition: all .5s ease;
  background-color: #293038;
  border: 1px solid #393f47;
  border-bottom: none;
}
.articles-controls .hidden-controls {
  transform: translateY(160px);
}
.hidden-controls {
  transform: translateY(210px);
}
.dev-controls h3 {
  margin: 0!important;
  font-size: 21px;
}
.dev-controls .flex-horizontal {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.dev-controls .flex-horizontal button {
  display: flex;
  justify-content: center;
  height: 28px;
  background: none;
  border: none;
  outline: none;
  margin-right: 0;
  margin-left: 20px;
}
.dev-controls .flex-horizontal button i {
  width: inherit;
  height: inherit;
  font-size: 16px;
  line-height: 27px;
  color: #98a6b7;
}
.dev-controls hr {
  margin: 15px 0;
}
.dev-controls .btn {
  text-transform: uppercase;
}
.dev-controls .control + .control {
  margin: 10px 0 0 0;
}