@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff2') format('woff2'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
}
@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?fj9lf0');
  src: url('icomoon.eot?fj9lf0#iefix') format('embedded-opentype'), url('icomoon.ttf?fj9lf0') format('truetype'), url('icomoon.woff?fj9lf0') format('woff'), url('icomoon.svg?fj9lf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: Figtree,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Figtree,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
    font-weight: 700 !important;
}

code, code[class*="language-"], pre[class*="language-"] {
    font-family: JetBrainsMono, 'JetBrains Mono', monospace;
}

.dev-controls {
  z-index: 1;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 5%;
  padding: 20px;
  transition: all .5s ease;
  background-color: #293038;
  border: 1px solid #393f47;
  border-bottom: none;
}
.articles-controls .hidden-controls {
  transform: translateY(160px);
}
.hidden-controls {
  transform: translateY(140px);
}
.dev-controls h3 {
  margin: 0!important;
  font-size: 21px;
}
.dev-controls .flex-horizontal {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.dev-controls .flex-horizontal button {
  display: flex;
  justify-content: center;
  height: 28px;
  background: none;
  border: none;
  outline: none;
  margin-right: 0;
  margin-left: 20px;
}
.dev-controls .flex-horizontal button i {
  width: inherit;
  height: inherit;
  font-size: 16px;
  line-height: 27px;
  color: #98a6b7;
}
.dev-controls hr {
  margin: 15px 0;
}
.dev-controls .btn {
  text-transform: uppercase;
}
.dev-controls .control + .control {
  margin: 10px 0 0 0;
}
.gap-3 {
    gap: 1rem;
}
#submenu.documentation .expandable.open {
    background: transparent!important;
}
#submenu.documentation .expandable.open::before {
    transform: none !important;
}
#submenu.documentation a.active, #submenu.documentation li.active {
    background-color: transparent !important;
}
#submenu.documentation a.active, #submenu.documentation li.active a {
    background-color: #388ee9 !important;
}
#submenu.documentation a.active:hover, #submenu.documentation li.active:hover, #submenu.documentation a.active:focus, #submenu.documentation li.active:focus {
    background-color: transparent !important;
}
#submenu.documentation a:hover {
    background-color: #293038 !important;
}
#submenu.documentation a::before {
    display: none !important;
}
.g-general::before, .g-java::before, .g-dotnet::before, .g-python::before {
    display: none !important;
}
.docs .related-articles ul li a, #articleContainer .related-articles ul li a {
    color: #7e8c9e;
}
.docs .related-articles ul li::before, #articleContainer .related-articles ul li::before {
    display: none !important;
}
.docs .related-articles ul li a:hover, #articleContainer .related-articles ul li a:hover {
    color: #c4ced7;
    text-decoration: none;
}
#docs-search .dropdown-suggestions {
    top: 3.875rem;
    width: calc(100% - 1rem);
    background-color: rgba(43,51,59,.95);
}
.docs__search-sugestions-list {
    padding: 0 .9375rem;
}
#submenu.documentation {
    border: none;
}
.navbar {
    border: none!important;
}
.docs-page-template__github-button:focus, .docs-page-template__github-button:hover {
    text-decoration: none;
    background-color: #3b4654;
    color: white;
}
.related-articles {
    padding-top: 3.875rem;
}
.docs-table-of-contents__redirector {
    --polygon-color: #756570;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem !important;
    border-radius: 1.5px !important;
    color: #7e8c9e!important;
    word-break: break-word;
    -webkit-transition: margin .2s ease-in-out,background .2s ease-in-out,color .2s ease-in-out;
    transition: margin .2s ease-in-out,background .2s ease-in-out,color .2s ease-in-out;
}
.docs-table-of-contents__list ul li {
    position: relative;
    overflow: hidden;
    padding-left: 1rem!important;
}
.docs-table-of-contents__list ul li::before {
    content: "" !important;
    position: absolute !important;
    top: 1.25rem !important;
    left: 0.8125rem !important;
    width: 0 !important;
    height: calc(100% - 2rem) !important;
    border-right: 2px dashed transparent !important;
    -webkit-transition: border-color .2s ease-in-out !important;
    transition: border-color .2s ease-in-out !important;
}
.docs-table-of-contents__list ul li.open::before {
    border-right-color: #333d48 !important;
}
table {
    color: rgba(240,244,246,.7)!important;
    margin: 0!important;
}
.article-content .table-responsive table thead tr th {
    min-width: 7.8125rem;
    padding: 0.375rem;
    border: 1px solid rgba(152,167,183,.2);
    text-align: center;
}
.table-bordered {
    border-top: 1px solid rgba(240, 244, 246, 0.1) !important;
}
.docs table td, #articleContainer table td {
    padding: 1.25rem !important;
}
.article-content .table-responsive > table {
    margin-bottom: 1.5rem!important;
}
.article-content h3 {
    margin-top: 0 !important;
    margin-bottom: 0.625rem !important;
}
.article-content pre {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.625rem 1.875rem;
    border-radius: 3px;
    font-size: .8125rem;
}
.article-content > h2:not(.panel-title) {
    margin-bottom: 1.25rem !important;
    padding-top: 1.9375rem;
    border-top: 1px solid rgba(152,167,183,.2);
}
.article-content > ol:not(.wp-block-gallery), .article-content > ul:not(.wp-block-gallery), .wp-bootstrap-blocks-container > ol:not(.wp-block-gallery), .wp-bootstrap-blocks-container > ul:not(.wp-block-gallery), .wp-bootstrap-blocks-row [class*=col-] > ol:not(.wp-block-gallery), .wp-bootstrap-blocks-row [class*=col-] > ul:not(.wp-block-gallery) {
    margin: 1.25rem 0 0 1.5625rem;
    list-style-position: outside;
}
.article-content > ol:not(.wp-block-gallery) li, .article-content > ul:not(.wp-block-gallery) li, .wp-bootstrap-blocks-container > ol:not(.wp-block-gallery) li, .wp-bootstrap-blocks-container > ul:not(.wp-block-gallery) li, .wp-bootstrap-blocks-row [class*=col-] > ol:not(.wp-block-gallery) li, .wp-bootstrap-blocks-row [class*=col-] > ul:not(.wp-block-gallery) li {
    line-height: 1.4;
}
.entry-content > * > h3:not([class*=font-size-]), .entry-content > h3:not([class*=font-size-]), .wp-bootstrap-blocks-container > * > h3:not([class*=font-size-]), .wp-bootstrap-blocks-container > h3:not([class*=font-size-]), .wp-bootstrap-blocks-row [class*=col-] > * > h3:not([class*=font-size-]), .wp-bootstrap-blocks-row [class*=col-] > h3:not([class*=font-size-]) {
    font-size: 1.5rem !important;
}

.docs-table-of-contents__collapsible-button {
    font-weight: 400;
}

.docs-table-of-contents__collapsible-button:after {
    left: -0.35rem;
}
.related-articles h2, .related-articles h3 {
    color: #c4ced7!important;
    letter-spacing: .1rem;
}
#submenu.show-java li:not(.g-java):not(.g-general) > a {
    color: #7e8c9e !important;
    opacity: .33;
    cursor: not-allowed;
}
#submenu.show-general:not(.show-java):not(.show-dotnet):not(.show-python):not(.show-nodejs) li:not(.g-general) > a {
    color: #7e8c9e !important;
    opacity: .33;
    cursor: not-allowed;
}

.article-content .nav-tabs a.nav-link.active {
    border: none;
    color: #c8c5d6 !important;
    font-weight: 400;
}

li.code-tab {
    border-bottom: 3px solid transparent;
}

li.code-tab.active {
    border-bottom: 3px solid #388ee9;
}

pre {
    background-color: #0f1425 !important;
}

.related-articles h2, .related-articles h3 {
    letter-spacing: 0;
}

.article-content h1 .glyphicon.glyphicon-link:before, .article-content h2 .glyphicon.glyphicon-link:before, .article-content h3 .glyphicon.glyphicon-link:before, .article-content h4 .glyphicon.glyphicon-link:before, .article-content h5 .glyphicon.glyphicon-link:before, .article-content h6 .glyphicon.glyphicon-link:before {
    content: "\e9b3";
}

.docs strong, #articleContainer strong {
    color: #dbd8e6 !important;
    font-weight: 600 !important;
}
