@model List<ASP.NET_MVC4.Models.SampleData>

<h2>RavenDB MVC4 Sample</h2>

@foreach (var item in Model)
{
	<p>* @item.Name : @item.CreatedAt</p>
}

Add new item: 
<form action="@Url.Action("Add")">
	<input type="text" name="name" />

	<input type="submit"/>
</form>
