@using Raven.Documentation.Web.Helpers
@model Raven.Documentation.Web.Models.PageModel
@{
	ViewBag.Title = "Glossary";
}
<div id="article">
	<div class="row">
		<div class="col-md-3">
			@Html.GenerateTableOfContents(Model.TableOfContents, null)
		</div>
		<div class="col-md-9">
			TODO
		</div>
	</div>
</div>


