@{
    ViewBag.Title = "NotFound";
}

<section class="panel padding">
    <div id="article-body">
        <h1>Oops, 404!</h1>
        <p>The article you are looking for does not exist.</p>
    </div>
</section>
