<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog.log"
      >

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.csv">
      <layout xsi:type="CsvLayout">
        <column name="time"
                layout="${time}" />
        <column name="logger"
                layout="${logger}" />
        <column name="threadid"
                layout="${threadid}" />
        <column name="level"
                layout="${level}" />
        <column name="message"
                layout="${message}" />
        <column name="exception"
                layout="${exception:format=tostring}" />
      </layout>
    </target>

    <target xsi:type="Console"
            name="c"
            error="true" />

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="f" />
    <logger name="*" minlevel="Info" writeTo="c" />
  </rules>
</nlog>
