/* Support for footer at bottom of window
-----------------------------------------------------------*/

html, body, #wrap 
{ 
	height: 100%; 
}

body > #wrap 
{
	height:auto; 
	min-height:100%;
}

#main 
{ 
	padding-bottom:75px; 
}  /* must be same height as the footer */

#footer 
{
    position: relative;
	margin-top: -75px; /* negative value of footer height */
	height: 75px;
	clear:both;
} 

/* CLEAR FIX*/
.clearfix:after 
{	
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix 
{
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix 
{ 
	height: 1%;
}
.clearfix 
{
	display: block;
}
/* End hide from IE-mac */

div.clear
{
    clear:both;
}

div#footer
{
	height:75px;
	font-size:smaller;
}

body
{
	margin:0;
	padding:0;
	font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color:#404040;
	background-color:White;
}

div#header
{
	height:158px;
	background-color:#e0e0e0;
	background-image:url(headerFill.png);
}

div#header_inner
{
	width:960px;
	margin:0 auto;
	height:158px;
	background-image:url(headerRound.png);
	background-repeat:no-repeat;
	position:relative;
}

div#header_menu
{
	display: block;
	position: relative;
	color: Black;
	top:130px;
	text-align:right;
}

div#header_menu a
{
	font-family: Verdana,sans-serif;
	font-weight:bold;
	font-size:10pt;
	color:Gray;
	text-decoration:None;
	outline:none;
	display:inline-block;
	margin-left:20px;
}
div#header_menu a:hover
{
	color: Gray;
	text-decoration:None;
}

div.home_main
{
	padding-top:40px;
	display:block;
	float:left;
	width:480px;
}

div.home_right
{
	display:block;
	float:left;
	padding-top:55px;
	padding-left:60px;
	width:400px;
}

div.home_bottom
{
	clear:both;
	padding-top:40px;
}



div#content
{
	width:960px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
}
		
div#footer a
{
    color:white;
}

div#footer
{
	background-color:#404040;
	color:#a0a0a0;
	border-top:2px solid black;
}		
div#footer_inner
{
	width:960px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
	background-image:url(logo_gray.png);
	background-repeat:no-repeat;
	background-position:right center;
}
div#footer_links
{
    margin-bottom:7px;
}


h1
{
        color:#606060;
	font-size:18pt;
	font-family: "Arial Black",Verdana,sans-serif;
	font-weight:bold;
	line-height:1.1em;
}

h2
{
	font-size:14pt;
	font-family: Arial,Verdana,sans-serif;
	color:#6d9bc7;
}

h3
{
	font-size:12pt;
	font-family: Arial,Verdana,sans-serif;
	color:#606060;
}

div.submenu + h1 + h2,
h1:first-child + h2
{
    color:#a0a0a0;
    margin-top:-15px;
    margin-left:18px;
    font-weight:normal;
    font-size:13pt;
}

h3
{
	font-size:12pt;
}

pre
{
	background-color:#f8f8f8;
	padding:5px;
	border-left:solid 2px #6d9bc7;
}

a
{
	color:#2572bc;
	text-decoration:none;
	outline:0;
}
a:hover
{
	border-bottom:solid 2px orange;
}

p
{
    line-height:1.4em;
}

/* Pager Styles */

.pager
{
	text-align:center;
	margin-top:10px;
	margin-bottom:30px;
}
a.unselected_page_number
{
	border:1px solid #808080;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	color:#808080;
}
a.unselected_page_number:hover
{
	border:1px solid orange;
	background-color:Orange;
	color:white;
}
a.selected_page_number
{
	border:1px solid #808080;
	color:White;
	background-color:#808080;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
}

div.info
{
	font-size:12pt;
	color:#808080;
	xmargin-top:-10px;
	margin-bottom:20px;
	text-align:right;
}

div.info_main
{
	font-size:10pt;
	color:#808080;
	margin-bottom:20px;
	margin-top:-10px;
}

div.synopsis
{
    font-size:12pt;
    font-color:#808080;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:Italic;
}

div.articles div.article
{
    float:left;
    width:450px;
    padding-right:30px;
}

div.article
{
}
div.article:first-child
{
}

div.figure
{
	text-align:center;
}

div.figure p
{
	font-weight:normal;
	font-size:smaller;
	font-style:italic;
	color:#606060;
}

small
{
	color:#808080;
}

div.comment_field
{
	float:left;
	width:320px;
}

div.comment_field input[type=text]
{
	width:310px;
	font-family:Georgia, Serif;
}

div.comment_message
{
	margin-top:10px;
}

div.article_links
{
    border-top:solid 1px #e0e0e0;
    border-bottom:solid 1px #e0e0e0;
    padding-top:10px;
    padding-bottom:10px;
    font-size:10pt;
}

div.article_links span.prev_article_link
{
	display:block;
	float:left;
	font-family: Arial,Verdana,sans-serif;
}

div.article_links span.next_article_link
{
	display:block;
	float:right;
	font-family: Arial,Verdana,sans-serif;
}


div.comments
{
}

textarea#comment_message
{
	width:100%;
	height:150px;
	font-family:Georgia, Serif;
}

div.error
{
	border:1px solid red;
	background-color:#FFc0c0;
	color:red;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
}

div.comment
{
	border-top:solid 1px silver;
	padding-top:10px;
	padding-bottom:10px;
}

div.comment:first-child
{
	border:none;
}

div.comment div.avatar
{
	float:left;
	width:42px;
	height:42px;
	background-color:white;
	background-position:center center;
	background-repeat:no-repeat;
	border:solid 1px silver;
}

div.comment div.content
{
	margin-left:55px;
}

div.comment div.time
{
	font-size:small;
	color:#808080;
	margin-top:-10px;
	margin-bottom:10px;
}
div.advanced
{
	display:none;
}

div.archive div.article
{
	border:none;
}

div.archive div.day
{
	float:left;
	width:20px;
	text-align:center;
}

div.archive div.article div.entry
{
	margin-left:30px;
}

div.chrono_order
{
	font-size:smaller;
	text-align:center;
	margin-top:-10px;
	color:#808080;
}

.submenu
{
	float:right;
	width:200px;
	font-size:11pt;
	border:solid 1px silver;
	margin:0px;
	background-color:#f8f8f8;
	padding-top:5px;
	margin-top:40px;
	margin-left:40px;
	margin-bottom:40px;
	font-family: Arial,Verdana,sans-serif;
}

.submenu h2
{
	border-bottom:solid 1px silver;
	padding:0;
	margin:0;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:5px;
	margin-bottom:10px;
	font-size:12pt;
	font-weight:normal;
	color:#909090;
}

.submenu ul
{
	padding: 0px;
	list-style: none;
	margin-left: 15px;
}
.submenu ul li
{
	padding:0;
	background-image: none;
	line-height:1.4em;
}

.submenu ul li a
{
}

.submenu ul li a:hover
{
}

dt
{
	color:#0b3157;
	padding-left:30pt;
}
dd
{
	margin-left:10pt;
	padding-bottom:8pt;
	padding-left:40pt;
}

div.category_header
{
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    border:solid 1px #C13914;
	background-color:#fffff0;
	border-radius:5px;	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:10px;
}

div.social_links
{
    border-top:solid 1px #e0e0e0;
    padding-top:10px;
    margin-bottom:10px;
    margin-top:40px;
    font-size:10pt;
    text-align:center;
	font-family: Arial,Verdana,sans-serif;
}

div.page_actions
{
    float:right;
    font-size:smaller;
    margin-top:20px;
    font-family: Arial,Verdana,sans-serif;
    margin-left:20px;
}


.str { color: #A31515; }   /* String */ 
.kwd { color: #0000FF; }   /* Keyword */
.com { color: #008000; }   /* Comment */
.typ { color: #2B91AF; }   /* Type */
.lit { color: #000000; }   /* Literal */
.pun { color: #000000; }   /* Puncuation */
.pln { color: #000000; }   /* Plain */
.tag { color: #FF0000; }   /* Tag */
.atn { color: #FF0000; }   /* AttrName */
.atv { color: #0000FF; }   /* AttrValue */
.dec { color: #f00; }

ol.linenums{margin-top:0;margin-bottom:0}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style:none}
li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}