<!DOCTYPE html>
<html>
<head>

    @if (string.IsNullOrEmpty(ViewBag.Title) == false)
    {
        <title>@ViewBag.Title</title>
    }
    else
    {
        <title>RavenDB - ACID NoSQL Document Database</title>
    }
    
    @{
        var v = 1;
    }

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic,900' rel='stylesheet' type='text/css'>
    <link href="https://ravendb.net/dist/css/styles.css?v=@v" rel="stylesheet" />
    <link href="/Content/styles.css?v=@v" rel="stylesheet" type="text/css"/>

    @RenderSection("HeadAdditions", false)

</head>
<body>
    <div id="menuOverlay"></div>
    <div id="wrapper" class="@ViewBag.WrapperModClass">
        @RenderBody()
    </div>

    <script src="https://ravendb.net/dist/js/main.js?v=@v"></script>
    <script>
        var root = '/';
    </script>
    <script type="text/javascript">
        if (!window.Promise) {
            window.Promise = window.ES6Promise;
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function changeButtonToPlay(button) {
            button.className = "play-button";
            button.innerHTML = "<i class=\"icon-play\" style=\"margin-right:20px\"></i> Play Podcast"
        }

        function changeButtonToPause(button) {
            button.className = "play-button is-playing";
            button.innerHTML = "<i class=\"icon-pause\" style=\"margin-right:20px\"></i> Pause";
        }

        $(window).on('load',
            function () {
                var audioElement = document.getElementById('podcast-audio');

                if (audioElement) {
                    audioElement.addEventListener("play", function() {
                        var button = document.querySelector("#podcast-play-button");
                        changeButtonToPause(button);
                    });

                    audioElement.addEventListener("pause", function() {
                        var button = document.querySelector("#podcast-play-button");
                        changeButtonToPlay(button);
                    });
                }

                var playButton = document.querySelector("#podcast-play-button");

                if (playButton) {
                    document.querySelector("#podcast-play-button").addEventListener("click", function(){
                        var audio = document.getElementById('podcast-audio');

                        if(this.className === "play-button is-playing"){
                            changeButtonToPlay(this);
                            audio.pause();
                        } else{
                            changeButtonToPause(this);
                            audio.play();
                        }
                    });
                }

            });
    </script>
</body>
</html>
