@model List<Raven.Documentation.Parser.Data.ArticlePage>
@section scripts {
    <script type="text/javascript">
        $('table', '#article').each(function () {
            var div = $('<div></div>')
                .attr({
                    'class': 'table-responsive'
                });
            $(this).attr({
                'class': 'table table-striped table-bordered table-condensed'
            }).wrap(div);
        });
    </script>
}
<div id="article">
    <div class="container">
        <h2>Articles</h2>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    @foreach (var article in Model)
                {
                    <li style="font-size: 22px;">
                        @Html.ActionLink(article.Title, MVC.Articles.ActionNames.Articles, new RouteValueDictionary { { "key", article.Key } })
                    </li>
            }
                </ul>
            </div>
        </div>

    </div>
</div>

@Html.Partial("DevControls")
