@model Raven.Documentation.Parser.Data.ArticlePage
@{
    ViewBag.Title = Model.Title;
}
@section scripts {
    <script type="text/javascript">
        $('table', '#article').each(function () {
            var div = $('<div></div>')
                .attr({
                    'class': 'table-responsive'
                });
            $(this).attr({
                'class': 'table table-striped table-bordered table-condensed'
            }).wrap(div);
        });
    </script>
}
<div id="article">
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(Model.HtmlContent)
        </div>
    </div>
</div>

