<div class="dev-controls padding" style="position: fixed; bottom: 100px; right: 200px;">
    <h2>Development</h2>
    <div class="control">
        <a href="~/articles/generate?key=@ViewBag.ArticleKey" class="btn btn-success">Generate articles</a>
    </div>

    <div class="control">
        <a class="btn btn-default" href="/">go to docs</a>
    </div>
</div>
